:root {
    --primary-color: #ff7300;
    --secondary-color: #ffffff;
    --tertiary-color: #e0e0e06d;
    --background-color-card: rgba(17, 17, 17, 0.37);
    --border-color: rgba(255, 255, 255, 0.142);
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --hover-box-shadow-color: rgba(0, 0, 0, 0.15);
    --btn-background: rgb(196, 196, 196);
    --btn-hover-background: #f9f9f9;
    --popular-border-color: #ff73003a;
    --popular-btn-background: #ff7300;
    --popular-btn-hover-background: #e56500;
    --z-index-high: 99999;
    --z-index-low: -1;
    --opacity-low: 10%;
    --color-subheading: rgba(199, 199, 199, 0.678);
    --color-button-bg: #6767674e;
    --color-button-border: rgba(255, 166, 0, 0.135);
    --gap-hero-container: 20px 0;
    --gap-hero-group: 0 3rem;
    --padding-button: 10px;
    --min-width-button: 130px;
    --border-radius-button: 10px;
    --border-width-button: 1.3px;
    --line-height-heading: 5rem;
    --line-height-subheading: 2.5rem;
    --font-weight-heading: 400;
    --font-weight-subheading: 300;
    --font-size-subheading: 1.5rem;
    --max-width-heading: 65vw;
    --max-width-subheading: 75vw;
    --max-width-bg-img: 95vw;
    --min-height-hero: 90vh;
    --min-height-hero-container: 80vh;
    --navbar-height: 50px;
    --navbar-padding: 10px 0px;
    --navbar-bg: rgba(36, 36, 36, 0.19);
    --navbar-border-radius: 10px;
    --navbar-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.064);
    --navbar-backdrop-blur: 3.3px;
    --navbar-border: 1px solid rgba(67, 67, 67, 0.45);
    --navbar-button-scale: 0.8;
    --nav-links-color: rgb(206, 206, 206);
    --nav-links-hover-color: white;
    --nav-links-font-size: 12px;
    --logo-width: 10rem;
    --nav-links-gap: 20px;
    --padding: 5rem;
    --background-color-container: #121212;
    --text-color: #e0e0e0;
    --border-radius: 8px;
    --box-shadow: 0 2px 6px rgba(255, 255, 255, 0.048);
    --transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    --highlight-color: #ff5722;
    --sqrt-border-color: #ff9800;
    --font-family: 'Poppins', sans-serif;
    --font-size-large: 3rem;
    --background-color-container: #1a1a1a;
    --text-color: #b0b0b0;
    --label-color: #e0e0e0;
    --input-background: #2b2b2b;
    --input-focus-background: #333;
    --padding: 2rem;
    --border-radius: 8px;
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    --input-padding: 0.75rem 1rem;
    --font-size: 1rem;
    --label-font-size: 0.9rem;
    --margin-bottom: 20px;
    --form-group-margin-bottom: 1.5rem;
    --background-color: #131313fa;
    --text-color: white;
    --border-color: #49494995;
    --focus-border-color: #ff8c00;
    --button-background: #ff8c00;
    --button-hover-background: #0e0e0e;
    --link-color: #ff7300;
    --link-hover-color: #ff9500;
    --button-gradient: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    --button-background-dark: #111;
    --button-background-after: #121111;
    --font-family: "Poppins", serif;
    --font-weight: 300;
    --font-style: normal;
    --h1-font-size: 48px;
    --h2-font-size: 32px;
    --h3-font-size: 28px;
    --p-font-size: 16px;
    --button-font-size: 12px;
    --button-padding: 0.6em 2em;
    --button-border-radius: 10px;
    --input-border-radius: 5px;
    --input-height: 25px;
    --input-padding: 0 10px;
    --input-border-width: 1.7px;
    --container-max-width: 90%;
    --font-family-poppins: "Poppins", serif;
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --background-color-loader: #232323;
    --spinner-border-color: #121212;
    --spinner-border-top-color: #f37c0e;
    --spinner-size: 60px;
    --preloader-z-index: 9999999;
    --fade-out-duration: 0.5s;
    --fade-out-delay: 1s;
    --spin-duration: 1s;
}

#theme-toggle:checked~.wrapper {
    --primary-color: #ff7300;
    --secondary-color: #131313;
    --background-color: #131313;
    --text-color: #ffffff;
}

.wrapper {
    transition: background-color 0.3s, color 0.3s;
}

.toggle-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: var(--z-index-high);
}

#theme-toggle {
    display: none;
}

.toggle-label {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}

.toggle-label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    transition: transform 0.3s;
}

#theme-toggle:checked+.toggle-label::after {
    transform: translateX(25px);
}